.itemcount-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 300px;
	height: auto;
	margin: 20px;
	padding: 5px;
}

.itemcount-container-contador {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 10px;
	padding: 20px;
	background-color: black;
	color: whitesmoke;
	border-radius: 2%;
	border: black 1px solid;
}

.itemcount-container-buton {
	width: 40px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	cursor: pointer;
}

.itemcount-container-buttonadd {
	width: 80%;
	height: 40px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: whitesmoke;
	font-size: 1.2rem;
}

.itemcount-container-buttonadd:hover {
	background-color: #E74C2B;
	transition: 1s;
}
