.container-detail {
  width: 80%;
  height: 50vh;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.d-img {
  width: 30%;
  height: auto;
}

.d-det {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.d-det h2 {
  margin: 20px;
  font-size: 35px;
}

.d-det h3 {
  margin-bottom: 15px;
  color: red;
}

.d-det p {
  text-align: justify;
  width: 90%;
}

.detail-img {
  width: 100%;
  height: auto;
}

.terminar-compra {
  width: 40%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 15px;
	padding: 20px;
	background-color: black;
	color: whitesmoke;
  cursor: pointer;
  margin: 30px;
  font-size: 18px;
}