.contenedor-navbar {
	width: 100%;
	height: auto;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: gainsboro;
	transition: 0.5s ease;
	position: sticky;
	top: 0;
	left: 0;
}

.motor-container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-principal);
	color: var(--color-principal-letra);
	letter-spacing: 5px;
	font-size: var(--tamaño-letra-grande);
	padding: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: solid 1px var(--color-secundario);
}

.motor {
	color: var(--color-secundario);
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 70%;
	transition: 0.5s ease;
	margin: auto;
}

li {
	padding: 10px;
	margin-left: 50px;
	margin-right: 20px;
	font-style: normal;
	list-style: none;
	transition: 0.5s ease;
	letter-spacing: 2px;
	font-size: var(--tamaño-letra-medio);
}

li:hover,
.li:hover {
	color: #E74C2B;
}

.li {
	color: whitesmoke;
	text-decoration: none;
	transition: 0.5s ease;
}

.baner {
	width: 100%;
	height: 60vh;
}