.cartitem-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 10px 0 10px 0;
    border: solid black 1px;
}

.mensaje-carrito-vacio {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 30px 0;
}