.container-ci {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 80%;
	background-color: white;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: #CECDCD solid 0.7px;
	border-radius: 1%;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.cartitem-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	text-align: center;
}

.cartitem-detail {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 45%;
	min-height: 300px;
	border-right: #CECDCD solid 0.7px;
}

.cartitem-detail h3 {
	font-size: var(--tamaño-letra-medio);
	text-align: center;
	width: 80%;
	padding: 10px;
	border-bottom: #CECDCD solid 0.7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gray-details-title {
	font-size: var(--tamaño-letra-medio);
	text-align: center;
	font-weight: 300;
	letter-spacing: 1px;
	color: var(--color-secundario-letra);
	padding: 20px;
}

.cartitem-detail h4 {
	text-align: right;
	width: 80%;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: var(--tamaño-letra-chico);
}

.cartitem-detail span {
	font-weight: 300;
	letter-spacing: 1px;
	color: #5F5958;
}

.img-detail-cart {
	width: 55%;
	height: 40vh;
	border-bottom: #CECDCD solid 0.7px;
	border-radius: 2%;
	padding: 15px;
}

.mensaje-carrito-vacio {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 50px 0 30px 0;
	height: 30vh;
}

.mensaje-carrito-vacio h3 {
	font-weight: 300;
	letter-spacing: 1px;
	color: #5F5958;
	margin: 5px;
}

.link {
	font-weight: 300;
	letter-spacing: 1px;
	color: #5F5958;
	text-decoration: none;
	font-size: 20px;
	margin: 5px;
}

.link span {
	color: #E74C2B;
	font-weight: 500;
}

.buton-delete {
	margin-top: 10px;
	cursor: pointer;
	color: whitesmoke;
	background-color: black;
	padding: 5px;
	width: 30%;
}

.buton-delete:hover {
	background-color: #E74C2B;
	transition: 1s;
}

.form-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 500px;
	height: auto;
	flex-direction: column;
}

.form-full {
	margin-top: 30px;
}

h4 {
	text-align: center;
	margin-bottom: 20px;
}

.buton-confirm {
	margin: 25px 0 30px 0;
	width: 70%;
	height: 35px;
	cursor: pointer;
	color: whitesmoke;
	background-color: black;
	padding: 5px;
}

.buton-confirm:hover {
	background-color: #E74C2B;
	transition: 1s;
}

.total-compra {
	width: 60vw;
	height: 30px;
	padding: 30px;
	margin-right: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
	border-bottom: #CECDCD solid 0.7px;
}

.total-compra span {
	font-size: 26px;
	margin-right: 10px;
	margin-left: 10px;
	color: #E74C2B;
}

.gray-details {
	font-size: 28px;
	padding: 20px;
}

.form-full {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.form-solit {
	font-weight: 300;
	letter-spacing: 1px;
	color: #5F5958;
}

.form-error {
	font-weight: 200;
	letter-spacing: 0.7px;
	color: #FA7A7A;
}

.form-title {
	font-weight: 500;
	letter-spacing: 1px;
	color: #5F5958;
	font-size: 25px;
}

input {
	width: 80%;
}